<a href="https://colab.research.google.com/github/juan-123456/tareapy/blob/quintatanda/ejercicio6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#tenemos nuestra libreria importada
import pandas as pd

#se crea una funcion llamada cot seguido de nuestras variables 
def cot(ro):
  #estamos creando la forma correcta en como se mostraran los datos de nuestro csv
    df = pd.read_csv(ro, sep=';', decimal=',', thousands='.', index_col=0)

#luego solo invocamos nuestros datos que estan ya creados en el csv y de queforma se deben mostrar

    return pd.DataFrame([df.min(), df.max(), df.mean()], index=['Mínimo', 'Máximo', 'Media'])

#al final estamos llamando nuestro csv, en este caso lo estoy llamando mediante un raw 
#ya subido en el github.

cot('https://raw.githubusercontent.com/asalber/aprendeconalf/master/content/es/docencia/python/ejercicios/soluciones/pandas/cotizacion.csv')

               Final        Máximo        Mínimo       Volumen    Efectivo
Mínimo      1.016500      4.067500      1.016500  1.221000e+03    2343.090
Máximo  19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440
Media    2796.768757   3170.113357   3136.510471  4.252279e+06   31767.778