<a href="https://colab.research.google.com/github/juan-123456/tareapy/blob/quintatanda/ejercicio7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
#importamos nuestras librerias con el comando siguiente
import pandas as pd

# generamos un forma de mostrar nuestros datos llamando el archivo csv con los datos ya establecidos en el archivo

fun_titanic = pd.read_csv('https://raw.githubusercontent.com/juan-123456/tareapy/quintatanda/titanic%201.csv', index_col=0)

#luego llamamos a la funcion para imprimirlo
print(fun_titanic)

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S
...               ...     ...  ...   ...      ...
887                 0       2  ...   NaN        S
888                 1       1  ...   B42        S
889                 0       3  ...   NaN        S
890                 1       1  ...  C148        C
891                 0       3  ...   NaN        Q

[891 rows x 11 columns]